body {
  background: url("./images/blue-rose.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.App{
  font-family: sans-serif;
  text-align: center;
}

.selected{
  background: linear-gradient(to right, #99f5ff, #8080ee) !important
}

.options{
  padding: 8px;
  border: 0.5px solid #000000;
  cursor: pointer
}

ul{
  list-style-type: none;
}
.card-body{
  background: #005AA7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

